* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TT Lakes bold";
    src: url(fonts/TTLakes-Black.eot),
    url(fonts/TTLakes-Black.ttf);
}

@font-face {
    font-family: "TT Lakes regular";
    src: url(fonts/TTLakes-Regular.ttf);
}

[class$="_title"] {
    font-family: "TT Lakes bold";
    font-size: 28px;
    line-height: 40px;
}

::-webkit-scrollbar {
    opacity: 1;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

.post-content__button {
    border: 0;
    background: transparent;
    font-family: "TT Lakes regular";
    font-size: 16px;
    line-height: 24px;
    width: 142px;
    height: 50px;
    margin-left: 16px;
    color: #1B1C21;
}

.post-content__button::before {
    content: "";
    background-image: url(icons/expand.png);
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    top: 5px;
    margin-right: 8px;
}

@media screen and (min-width:320px) and (max-width:767px) {
    [class$="--disabled"], 
    .post__photo--disabled--mobile, 
    .post__photo--disabled--tablet, 
    .header-menu__button-text {
        display: none;
    }

    .main-content__title {
        display: block;
        margin-top: 24px;
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
    }

    .header-menu {
        height: 88px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .main-content {
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }

    .main-content__title::before {
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .header-menu__title {
        margin-top: 24px;
    }

    .main-menu {
        display: flex;
        overflow: scroll;
        white-space: nowrap;
    }

    .main-content__main-menu {
        margin: 24px 0 0 16px;
    }
    .main-menu__item {
        padding: 8px 10px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
        list-style-type: none;
    }

    .main-menu__item:hover {
        background-color: #ffffff;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .main-content__post {
        padding-bottom: 35px;
    }

    .post-content__description {
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin: 0px 16px 16px;
    }

    .post__photo {
        display: block;
        margin: 16px auto 0;
        width: 320px;
        height: 176px;
    }
}

@media screen and (min-width:768px) and (max-width:1119px) {
    [class$="__description--disabled"], 
    [class$="title--disabled"], 
    .post__photo--disabled--mobile, 
    .post__photo--disabled--tablet,
    [class$="button--disabled"] {
        display: none;
    }

    .header-menu, 
    .header-menu-tablet {
        height: 88px;
        display: flex;
        align-items: center;
    }

    .header-menu-tablet::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 32px;
        border-radius: 1px;
        background: #EAEAEA;
        margin-left: 20px;
        margin-right: 4px;
    }

    .header-menu__icon, .header-menu-tablet__icon {
        margin-left: 16px;
    }

    .header-menu__burger-button {
        margin: 24px;
        order: -2;
    }
    
    .header-menu__icon {
        order: 2;
    }

    .header-menu__logo-link {
        margin-right: auto;
    }

    .header-menu__icon-last {
        margin-right: 40px;
    }

    .main-content {
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }

    .main-content__title {
        display: block;
        margin-top: 24px;
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
    }

    .main-content__title::before {
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
    }

    .header-menu__title {
        margin-top: 24px;
    }

    .main-menu {
        display: flex;
        overflow: scroll;   
        white-space: nowrap;
    }

    .main-content__main-menu {
        margin: 24px 0 0 16px;
    }

    .main-menu__item {
        padding: 8px 10px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
        list-style-type: none;
    }

    .main-menu__item:hover {
        background-color: #FFFFFF;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .main-content__post {
        margin: 0 auto;
        display: flex;
        padding-bottom: 40px;
    }

    .post__post-content {
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin: 0 16px 16px;
    }

    .post__photo {
        margin: 5px 25px 0 48px;
        width: 360px;
        height: 208px;
    }
}

@media screen and (min-width:1120px) {
    .header-menu__burger-button, 
    .header-menu__logo, 
    .header-menu__vertical-line, 
    .header-menu-tablet--disabled,  
    .post__photo--disabled--desktop {
        display: none;
    }

    body {
        background-color: #F8F8F8;
    }

    .header-menu {
        display: flex;
        align-items: center;
        max-width: 1120px;
        margin: 42px auto 8px;
    }

    .header-menu__title {
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
        margin-right: auto;
    }

    .header-menu__title::before {
        content: "";
        display: inline-block;
        position: relative;
        top: 10px;
        background: #41F6D7;
        border-radius: 2px;
        width: 3px;
        height: 40px;
        margin-right: 30px;
    }

    .header-menu__button {
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
    }

    .header-menu__application-button--disabled, 
    .header-menu__status-button--disabled {
        margin-right: 8px;
    }

    .header-menu__icon {
        align-self: center;
        margin-right: 32px;
    }

    .main-content{
        max-width: 1120px;
        margin: 0 auto;
    }

    .main-content__title--disabled {
        display: none;
    }

    .main-menu {
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
    }

    .main-content__main-menu {
        margin: 24px 0 0 16px;
    }

    .main-menu__item {
        padding: 8px 20px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
        list-style-type: none;
    }

    .main-menu__item:hover {
        background-color: #ffffff;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }

    .main-content__post {
        margin: 0 auto;
        display: flex;
    }

    .post__post-content {
        font-family: "TT Lakes regular";
        font-size: 14px;
        line-height: 20px;
        color: #1B1C21;
        margin: 16px;
    }

    .post-content__description--disabled {
        margin-top: 20px;
    }

    .post__photo-tablet {
        margin: 5px 25px 0 20px;
        width: 531px;
        height: 307px;
    }

    .post-content__button {
        margin-left: 0px;
    }
}










