* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #c4dba4;
}

button {
    width: 250px;
    height: 100px;
    background-color: #ebb06a;
    color:white;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    transition: 0.5s;
}

.block {
    display: flex;
    width: 600px;
    margin: 15% auto 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:first-child{
    margin-right: 25px;
}