*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "TT Lakes bold";
    src: url(fonts/TTLakes-Black.eot),
    url(fonts/TTLakes-Black.ttf);
}

@font-face {
    font-family: "TT Lakes regular";
    src: url(fonts/TTLakes-Regular.ttf);
}

.nav-menu__vertical-line, .nav-menu__vertical-line-tablet{
    width:2px;
    height:32px;
    background-color: #EAEAEA;
    border-radius: 1px;
}
[class$="_title"]{
    font-family: "TT Lakes bold";
    font-size: 28px;
    line-height: 40px;
}

::-webkit-scrollbar {
    opacity: 1;
}

.text-content-textarea__link{
    text-decoration: none;
}

.text-content-textarea__link::before{
    content: "";
    background-image: url(/icons/expand.png);
    display: inline-block;
    position: relative;
    width:24px;
    height: 24px;
    top:5px;
    margin-right: 8px;
}

@media screen and (min-width:320px) and (max-width:767px){
    [class$="_disabled"]{
        display: none;
    }
    .nav-menu{
        height:88px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .main-content{
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }
    .main-content__title::before{
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width:3px;
        height:40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
    }
    .nav-menu__title{
        margin-top: 24px;
    }
    .main-content-nav-menu{
        display: flex;
        overflow: scroll;
        margin: 24px 0 0 16px;
        white-space: nowrap;
    }
    .main-content-nav-menu__item{
        padding: 8px 10px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
    }
    .main-content-nav-menu__item:hover{
        background-color: white;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        
    }
    .main-content__text-content{
        padding-bottom: 35px;
    }
    .text-content-textarea__text{
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin: 24px 16px 16px;
    }
    .text-content__main-photo{
        display: block;
        margin: 16px auto 0;
    }
    
    
}

@media screen and (min-width:768px) and (max-width:1119px) {
    [class$="-text_disabled"], [class$="title_disabled"], [class$="_span_disabled"]{
        display: none;
    }
    .nav-menu, .nav-menu-tablet{
        height:88px;
        display: flex;
        align-items: center;
    }
    .nav-menu__icon, .nav-menu-tablet__icon{
        margin-left:16px;
    }
    .nav-menu__burger-icon{
        margin:24px;
        order:-2;
    }
    .nav-menu__vertical-line{
        order:-1;
        margin-right: 20px;
    }
    .nav-menu__icon{
        order:2;
    }
    .nav-menu__vertical-line-tablet{
        margin-left:20px;
    }
    .nav-menu__logo{
        margin-right: auto;
    }
    .nav-menu__icon-last{
        margin-right: 40px;
    }
    .main-content{
        background-color: #F8F8F8;
        border-top: 1px solid #D9FFF5;;
    }
    .main-content__title::before{
        content: "";
        display: inline-block;
        background: #41F6D7;
        border-radius: 2px;
        width:3px;
        height:40px;
        margin-right: 20px; 
        position: relative;
        top: 10px;
    }
    .nav-menu__title{
        margin-top: 24px;
    }
    .main-content-nav-menu{
        display: flex;
        overflow: scroll;
        margin: 24px 0 0 16px;
        white-space: nowrap;
    }
    .main-content-nav-menu__item{
        padding: 8px 10px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
    }
    .main-content-nav-menu__item:hover{
        background-color: white;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .text-content{
        margin:0 auto;
        display: flex;
    }
    .text-content-textarea__text{
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin: 0 16px 16px;
    }
    .main-content__text-content{
        margin-top: 32px;
        padding-bottom: 40px;
    }
    .text-content__main-photo{
        margin: 5px 25px 0 48px;
    }
    
}

@media screen and (min-width:1120px) {
    .nav-menu__burger-icon, .nav-menu__logo, .nav-menu__vertical-line, .nav-menu-tablet_disabled{
        display: none;
    }
    body{
        background-color: #F8F8F8;;
    }
    .nav-menu{
        display: flex;
        align-items: center;
        max-width: 1120px;
        margin: 42px auto 8px;
    }
    .nav-menu__title{
        font-family: "TT Lakes bold";
        font-size: 28px;
        line-height: 40px;
        margin-right: auto;
    }
    .nav-menu__vertical-line__green{
        background: #41F6D7;
        border-radius: 2px;
        width:3px;
        height:40px;
        margin-right: 30px;
    }

    .nav-menu__icon-text{
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin-right: 8px;
    }
    .nav-menu__icon{
        align-self: center;
        margin-right: 32px;
    }
    .main-content{
        max-width: 1120px;
        margin:0 auto;
    }
    .main-content__title_disabled{
        display: none;
    }
    .main-content-nav-menu{
        display: flex;
        flex-wrap: wrap;
        margin: 24px 0 0 16px;
        white-space: nowrap;
    }
    .main-content-nav-menu__item{
        padding: 8px 20px;
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #F8F8F8;
    }
    .main-content-nav-menu__item:hover{
        background-color: white;
        border: 2px solid #B8FFEC;
        border-radius: 6px;
    }
    .text-content{
        margin:0 auto;
        display: flex;
    }
    .text-content-textarea__text{
        font-family: "TT Lakes regular";
        font-size: 16px;
        line-height: 24px;
        margin: 0 16px 16px;
    }
    .main-content__text-content{
        margin: 32px 0 49px;

    }
    .text-content__main-photo{
        margin: 5px 25px 0 48px;
    }
}










