
@font-face {
    font-family: "TT Lakes bold";
    src: url(fonts),
    url(fonts/TTLakes-Black.ttf);
}

@font-face {
    font-family: "TT Lakes regular";
    src: url(fonts/TTLakes-Regular.ttf);
}

.aside__toggle {
    opacity: 0;
}
  
.aside__toggle:checked ~ .aside__burger > span {
    transform: rotate(45deg);
}
.aside__toggle:checked ~ .aside__burger > span::before {
    top: 0;
    transform: rotate(0);
}
.aside__toggle:checked ~ .aside__burger > span::after {
    top: 0;
    transform: rotate(90deg);
}

.aside__toggle:checked ~ .aside-content {
    visibility: visible;
    left: 0;
}
  
.aside__burger {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 37px;
    left: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
    background-color: #FF3E79;;
    border-radius: 50%;
}
  
.aside__burger > span {
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
    left: 10px;
}

.aside__burger > span::before,
.aside__burger > span::after {
    display: block;
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: white;
    transition-duration: .25s;
}
  
.aside__burger > span::before {
    content: '';
    top: -8px;
}

.aside__burger > span::after {
    content: '';
    top: 8px;
}
  
img:hover{
    filter: hue-rotate(179deg);
    transition: 2s;
}

[class$="button"] {
    border: 0;
    background: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.aside-content {
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
    visibility: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "TT Lakes regular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

.aside-content__header {
    margin: 25px 24px 0;
    flex: 0 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__logo {
    margin: 0 56px 0 80px;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.aside-content__menu {
    margin: 50px 0 0px 24px;
    flex: 1 0 auto;
}

.menu__item {
    padding: 12px 0;
    position: relative;
    list-style-type: none;
}

.menu__item:hover::before {
    content: "";
    display: block;
    width: 4px;
    height: 32px;
    background: #41F6D7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: -24px;
    top: 6px;
}

.menu__item:hover {
    color: #7E7E82;
    cursor: pointer;
}

.aside-content__footer {
    margin-left: 24px;
    flex: 0 0 auto;
    margin-bottom: 26px;
}

.footer-buttons__button {
    margin-right: 16px;
}

.footer__mail {
    margin: 16px 0 12px;
    display: block;
}

.footer__tel {
    font-family: "TT Lakes bold";
    font-size: 24px;
    line-height: 32px;
    display: block;
}

.footer-languages {
    display: flex;
    flex-direction: row;
}

.footer__footer-languages {
    margin-top: 40px;
}

.footer-languages__lan {
    margin-right: 12px;
    text-decoration: none;
    color: #1B1C21;
}

.footer-languages__lan:hover {
    color: #7E7E82;
}

  
